/ALLM

/measurement

*png
*.C
calculate/y_crosssection.py
/calculate/*.ipynb
Untitled*

calculate/graph/*.png

calculate/garbage

*.py~
__pycache__

ALLM*

.ipynb_checkpoints
calculate/montecalro.png
calculate/montecalro.png
calculate/Q^2_dNdt.png
calculate/Q^2_sigma_absruct.png
calculate/Q^2_sigma.png
calculate/montecalro.png
calculate/Q^2_dNdt.png
calculate/Q^2_sigma_absruct.png
calculate/Q^2_sigma.png
calculate/Q^2_dNdt.png
calculate/crosssection_hist.C
calculate/crosssection_hist.C
beta*
show*
*.svg
test*
sigma_used*